beautifulsoup4
bs4
certifi
chardet
cycler
functools32
idna
matplotlib
MySQL-python
numpy
olefile
Pillow
pip
pkg-resources
pyparsing
python-dateutil
pytz
requests
scipy
setuptools
six
subprocess32
Unidecode
urllib3
wheel
jupyter
pandas
pyPdf